/.phpunit.cache
/node_modules
/public/hot
/public/storage
/public/version.json
/dist/js
/public/css
/public/build
/env
/vendor
.env
.env.backup
.env.testing
.idea
.phpunit.result.cache
.phpstorm.meta.php
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
docs/coverage
.vscode
.coverage
storage/framework/degraded
yarn.lock
*.pyc
.DS_Store
*.bak
*.key
*.crt
*.pub
