$ro-font-path: "@minvws/nl-rdo-rijksoverheid-ui-theme/fonts";
$ro-img-path: "@minvws/nl-rdo-rijksoverheid-ui-theme/img";

@import "@minvws/nl-rdo-rijksoverheid-ui-theme/scss/main";
@import "external-login";
@import "layout-authentication";

/* Manon */
@import "manon/overrides/bg-color-offset";

// TODO: Add this in the theme package
:root {
    --accordion-button-icon-after-open-content: var(--icon-chevron-up);
    --accordion-button-icon-after-close-content: var(--icon-chevron-down);
}

footer .two-thirds-one-third {
    justify-content: space-between;

    nav {
        width: auto;
    }
}

.version-history {
    .version-history-version-number {
        min-width: 10%;
    }
    .version-history-date {
        min-width: 10%;
    }
    .version-history-changes {
        width: 65%;
    }
}
