.external-login {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 0;

    li {
        border: 1px solid #98ABBD;
        border-radius: 8px;
        background-color: #fff;
        list-style: none;
        min-width: 17rem;
        padding: 0;

        a {
            display: flex;
            gap: 2rem;
            align-items: center;
            justify-self: flex-start;
            width: 100%;
            height: 100%;
            font-weight: bold;
            color: #000;
            text-decoration: none;
            padding: 0.5rem 1rem;
            box-sizing: border-box;

            img {
                width: 3.75rem;
            }

            &[rel~="external"]:before {
                display: none;
            }
        }
    }
}

.layout-authentication {
    .external-login {
        flex-direction: column;
        width: 100%;
        gap: 1.5rem;
    }
}
