$ro-font-path: "@minvws/nl-rdo-rijksoverheid-ui-theme/fonts";
$ro-img-path: "@minvws/nl-rdo-rijksoverheid-ui-theme/img";

@import "@minvws/manon/header-content-wrapper";
@import "@minvws/manon/image-square";
@import "@minvws/manon/image-cover";
@import "@minvws/nl-rdo-rijksoverheid-ui-theme/scss/main";
@import "external-login";
@import "layout-authentication";

@import "ziekenboeg/styles";
@import "ziekenboeg/hero";
@import "ziekenboeg/tile";
@import "ziekenboeg/main";
@import "ziekenboeg/form-button";
@import "ziekenboeg/image-half";
@import "ziekenboeg/sidemenu";

footer,
.page-footer {
    border-top: 1px solid #d9ebf7;
}

.logo {
    max-height: var(--logo-height);
    max-width: var(--logo-width);
    display: flex;
    align-items: center;
}

body > header,
.page-header {
    > div {
        .collapsing-element {
            justify-content: space-between;
        }
    }
}

body > footer,
.page-footer {
    nav {
        a,
        a:focus,
        a:hover,
        a:active,
        a:visited {
            outline-offset: var(--footer-navigation-link-outline-offset);
        }
    }
}

.icon-small::before {
    --link-icon-font-size: 0.7rem;
    --link-hover-icon-font-size: 0.7rem;
    --link-focus-icon-font-size: 0.7rem;
    --link-active-icon-font-size: 0.7rem;
    --link-visited-icon-font-size: 0.7rem;
}

.navigation-group {
    --navigation-list-padding: 0;
    --section-content-wrapper-gap: 1rem;
    --gap: 0;
}

#main-content {
    --section-padding-top: 2.5rem;
    --section-padding-bottom: 2.5rem;

    padding-bottom: 6rem;
    flex-grow: 1;
    z-index: 0;
}

.hero {
    z-index: 0;
}

// Align footer items to the right
.page-footer nav {
    margin-left: auto;
}
