$ro-font-path: "@minvws/nl-rdo-rijksoverheid-ui-theme/fonts";
$ro-img-path: "@minvws/nl-rdo-rijksoverheid-ui-theme/img";

@import "@minvws/nl-rdo-rijksoverheid-ui-theme/scss/main";
@import "external-login";
@import "layout-authentication";

@import "ziekenboeg/styles";

footer {
    border-top: 1px solid #D9EBF7;
}
